.centered {
    text-align: center;
}

.whiteText {
    color: white;
}

.bgGrey {
    background-color: steelblue;
    padding-left: 1rem;
    padding-right: 1rem;
}

.cityBtn {
    width: 80%;
}

.searchBar {
    margin-left: 10%;
    margin-right: 10%;
}

.greenBG {
    background-color: lime;
}

.amberBG {
    background-color: orange;
}

.redBG {
    background-color: red;
}

.sizing {
    height: 30px;
    width: 30px;
}